
// Pure colors
$_white: white;
$_black: black;
$_red: red;

$_aqua: #2497ce;
$_salmon: #EF7150;

$_light-blue: #82bfcd;
$_violet: #A44078;

$_green: #429459;
$_green-whatsApp: #5CAF2C;
$_opaque-green: #2A685F;
$_lemon-green: #93D351;
$_field-green: #a3c539;

  // Gray scale
$_opaque-black: #333333;
$_light-black: #414141;
$_dark-gray: #525252;
$_gray: #707070;
//$_opaque-gray: #acaca8;
$_opaque-gray: #707070;
$_light-gray: #e1e1e1;
$_gray-blue: #F7F7F7;

// generic usage colors
$backgroundColor-primary: $_light-blue;
$bordes: $_light-gray;
$tablero: $_gray-blue;

$primary-text:$_white;
$marcador: $_violet;
$button-reset:$_aqua;






